* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Moirai One", cursive;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(137 179 179);
}
.wrapper {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
}
.wrapper li {
  list-style: none;
  height: 250px;
  border-radius: 10%;
  background-color: white;
}
.add-box,
.icon,
.bottom-content,
.settings .menu li,
.content header,
.popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box {
  flex-direction: column;
  justify-content: center;
}
.add-box .icon {
  border: 2px dashed rgb(137 179 179);
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  justify-content: center;
  color: rgb(137 179 179);
  height: 78px;
  width: 78px;
}
.add-box p {
  color: rgb(137 179 179);
  font-weight: bold;
  margin-top: 20px;
}
.note {
  padding: 10px;
  overflow: auto;
}
.note p {
  font-size: 22px;
  font-weight: bold;
}

.note span {
  margin-top: 22px;
  display: block;
  font-weight: 400;
  color: gray;
  font-size: 16px;
}
.wrapper .note {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.note .bottom-content {
  border-top: 1px solid gray;
  padding-top: 10px;
}
.bottom-content .span {
  font-size: 14px;
}
.bottom-content .settings i {
  cursor: pointer;
  font-size: 15px;
}
.settings {
  position: relative;
}
.settings .menu {
  position: absolute;
  bottom: 0;
  right: -5px;
  padding: 5px 5px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 15);
  /* for size change we use scale (respective to original size)*/
  transform: scale(0);
  transform-origin: bottom-right;
  transition: transform 0.2s ease;
}
.settings .menu li {
  height: 25px;
  border-radius: 0;
  padding: 17px 17px;
  justify-self: flex-start;
  cursor: pointer;
}
.settings.show .menu {
  transform: scale(1);
}
.menu li:hover {
  background: #f5f5f5;
}
.menu li i {
  padding-right: 8px;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  z-index: 2;
  width: 100%;
}
.popup-box .popup {
  position: absolute;
  top: 50%;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  z-index: 3;
}
.popup-box,
.popup-box .popup {
  opacity: 0;
  pointer-events: none;
}
.popup-box.show,
.popup-box.show .popup {
  opacity: 1;
  transform: all 0.25s ease;
  pointer-events: auto;
}
.popup .content {
  width: calc(100%, -15px);
  background: #fff;
  border-radius: 5px;
}
.popup .content header {
  border-bottom: 1px solid #ccc;
  padding: 15px 25px;
}
.content header p {
  font-size: 20px;
  font-weight: 500;
}
.content header i {
  color: gray;
  cursor: pointer;
  font-size: 23px;
}
.content form {
  margin: 15px 25px 35px;
}
.content form .row {
  margin-bottom: 20px;
}
form .row label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}
.content form :where(input, textarea) {
  width: 100%;
  height: 50px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  border-radius: 4px;
  border: 1px solid #999;
}
.content form textarea {
  height: 150px;
  resize: none;
  padding: 8px 15px;
}
.content form button {
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  background-color: rgb(137 179 179);
}
